.info-box-container {
    display: flex;
    flex-direction: column;
    gap: 5px; /* space between InfoBox components */
  }
  
  .info-box-container .label {
    font-weight: bold;
    display: inline-block;
  }
  
  .info-box-container .info-details {
    display: grid;
    grid-template-columns: 80px 1fr; /* First column for .code, second for .description */
    gap: 5px; /* space between the columns */
    align-items: baseline; /* Align text in both columns */
  }
  
  .info-box-container .code {
    font-weight: bold;
    white-space: pre-line;
  }
  
  .info-box-container .description {
    white-space: pre-line;
    /* word-wrap: break-word;*/ /* Ensures long descriptions break to the next line */
  }
  